body{
    background-color:black;
}

.hamburgernav {
overflow: hidden;
background-color: red;
position: relative;

}

.hamburgernav #my-links{
    display: none;
}
.hamburgernav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    display: block;
}
.hamburgernav a.icon{
display: block;
position: absolute;
right: 0;
top: 0; 
}
